<div class="home-page">
  <div class="container">
    <h1 class="jumbotron text-center title">First Round Expert Network</h1>
    <div class="home-page-links">
      <%= link_to "Experts", experts_path, class: "btn btn-primary link-button" %>
      <%= link_to "Companies", companies_path, class: "btn btn-secondary link-button" %>
    </div>
  </div>
</div>
